/*Extra Small*/

@media (max-width: 576px) {
    /*------------------------------------- HEADER__NAV ------------------------------------*/
    .header__nav {
        height: auto;
    }
    .header__nav-link {
        margin: 7px 0;
    }
    /* -----------------------------------------MAIN_CONTACT--------------------------------- */
    .main__about {
        padding: 120px 0 60px;
    }
    .main__about-title {
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px;
    }
    .main__about-label {
        font-size: 18px;
    }
    .main__about-input,
    .main__about-textarea {
        width: 100%;
    }
    .main__about-textarea {
        height: 180px;
    }
    .main__about-text {
        font-size: 15px;
    }
}


/*Small*/

@media screen and (max-width: 767px) and (min-width: 576px) {
    /*------------------------------------- HEADER__NAV ------------------------------------*/
    .header__nav {
        height: auto;
    }
    .header__nav-link {
        margin: 7px 0;
    }
    /* -----------------------------------------MAIN_CONTACT--------------------------------- */
    .main__about {
        padding: 120px 0 60px;
    }
    .main__about-title {
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px;
    }
    .main__about-label {
        font-size: 18px;
    }
    .main__about-input,
    .main__about-textarea {
        width: 100%;
    }
    .main__about-textarea {
        height: 180px;
    }
    .main__about-text {
        font-size: 15px;
    }
}


/*Medium*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    /*------------------------------------- HEADER__NAV ------------------------------------*/
    .header__nav {
        height: auto;
    }
    .header__nav-link {
        margin: 7px 0;
    }
    /* -----------------------------------------MAIN_CONTACT--------------------------------- */
    .main__about {
        padding: 120px 0 60px;
    }
    .main__about-title {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .main__about-img {
        height: 845px;
    }
    .main__about-label {
        font-size: 18px;
    }
    .main__about-input,
    .main__about-textarea {
        width: 100%;
    }
    .main__about-textarea {
        height: 180px;
    }
    .main__about-text {
        font-size: 15px;
    }
}


/*Large*/

@media screen and (max-width: 1199px) and (min-width: 992px) {
    /* -----------------------------------------MAIN_CONTACT--------------------------------- */
    .main__about {
        padding: 180px 0 60px;
    }
    .main__about-title {
        font-size: 70px;
        margin-bottom: 30px;
    }
    .main__about-img {
        height: 845px;
    }
    .main__about-label {
        font-size: 18px;
    }
    .main__about-input,
    .main__about-textarea {
        width: 100%;
    }
    .main__about-textarea {
        height: 180px;
    }
    .main__about-text {
        font-size: 15px;
    }
}


/*Extra Large*/

@media (min-width: 1200px) {}

@media screen and (max-width: 320px) {}

@media screen and (max-width: 280px) {
    /*------------------------------------- HEADER__NAV ------------------------------------*/
    .header__nav-logo {
        width: 120px;
    }
}